.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
lib/generated/
.idea/
.vscode/
*.iml

# Server dependencies
server/node_modules/

# Server runtime data
server/data/*.sqlite
server/data/users.json
server/data/uploads/*
!server/data/uploads/.gitkeep