.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
lib/generated/
.idea/
.vscode/
*.iml
.env
server/data/*.sqlite
server/data/users.json
server/node_modules/
server/data/uploads/*
!server/data/uploads/.gitkeep
